<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
</script>
<style type="text/css">
body {
  background-color: #d6d6d3;
  height: 100vh;
  width: 100vw;
  display: flex;
     flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.confirmbutton{
    height:60px;
    width:250px;
    background-color:#d6eff5;
    font:40px;
    text-align:center;
    line-height:60px;
    margin:5px;
    border-radius:10px
}
.navbar{background:#ddedf8;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
</style>

  <title>查驗evidence檔案資料</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
        <outputer></outputer>
    </div>

    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" :href="workspaceurl">{{workspace}}</span></a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">{{investigating}}<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <font size="1">{{statusreport}}</font>
          </span>
        </div>
      </nav>
    </template>

    <template id="outputerUI" ">
      <div>
        <br>

        <label></label>
      </form>
      <fieldset>
        <legend>本項資料查驗結果: </legend>
        <form :action="result4thisurl" method="get">
        <div>
          <input type="checkbox" id="pass" name="result" value="pass" />
          <label for="pass" fontsize="large">合格</label>
        </div>
        <div>
          <input type="checkbox" id="lack" name="result" value="lack" />
          <label for="lack" fontsize="large">需請申請人補送</label>
        </div>
        <input type="submit" value="確認"/>
      </form>
      </fieldset>
      <br>
          <img id="view_img" :src="fakepath" width="50%">
      </div>
      </div>
    </template>

<!-- Vue CDN-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
Vue.component("bander",{

    data(){
      return {
        brand:"dCarbon",
        workspace:"回需準備資料清單",
        investigating:"查驗單筆資料",
        statusreport:'<%- statusreport %>',
        status:'<%- status %>',
        caseID:'<%- caseID %>',
        personID:'<%- personID %>',
        workspaceurl:""
      }
    },
    mounted:function(){
      let querytext="?statusreport=由佐證檔案查驗頁回到本頁&status=c&caseID="+this.caseID;
      let workspaceurl='/base4dcarbon/case/preparedata/'+this.personID+querytext;
    },
    template:"#banderUI"
  });
  Vue.component("outputer",{
    /*
    new Storage({
        projectId:"your-project-id",
        keyFilename:"your-key-file.json"
    });
    storage.bucket(“dcarbon-bucket1”);
    */
    data(){
      return {
        fakepath:'<%=fakepath%>',
        result4thisurl:"#",
        inputerUIkey:0
      }
    },
    mounted:function(){

    },
    methods:{
        rerender:function() {
      this.inputerUIkey += 1;
      console.log("inputerUIkey:"+this.inputerUIkey)
        }

    },
    template:"#outputerUI"
  });

    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",
        components:{

        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
