<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="/javascripts/jquery-3.4.1.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<style type="text/css">
body {
background-color: rgb(205, 226, 253);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.needcolor{
  color:rgb(72, 188, 5);
  font-size:large;
  font-weight:bold;
  }
#tablefy{
    display: inline-block;
  flex-direction:row;
	 justify-content: flex-start;
     align-items:left;
     margin:10px
}
.navbar{background:#cff8c5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
.page-item {
    margin-right:12px
}
.page-item[active=true]{
    font-weight: bold;
    text-decoration:underline
}
</style>

  <title>認驗證方法建構區入口</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
      <div class="row" align="justify">
        <outputer></outputer>
      </div>
        <!-- <inputer></inputer> -->
    </div>

    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link  active" href="#">{{setmethod}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :href="previousurl">{{previouspage}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :href="outcomeurl">{{outcomepage}}</a>
              </li>
          </ul>
          <span class="navbar-text">
            <font size="2">{{statusreport}}</font>
          </span>
        </div>
      </nav>
    </template>

    <template id="outputerUI">
        <nav aria-label="...">
          <div id="activity_info">
            {{items1.item1}}:<span class="needcolor">{{theactivity.a10type}}</span><br>
            {{items1.item2}}:<span class="needcolor">{{theactivity.a15nickname}}</span><br>
            {{items1.item3}}:<span class="needcolor">{{theactivity.a20describe}}</span><br>
          </div>
          <div id="case_info">
            {{items2.item2}}:<span class="needcolor">{{thecase.a15casename}}</span><br>
            {{items2.item5}}:<span class="needcolor">{{thecase.a30caseunit}}</span><br>
            {{items2.item6}}:<span class="needcolor">{{thecase.a35scale}}</span>

          </div>
          <br>
          <div class="row" id="tablefy" v-for="work of work2dos" :key="work._id">
            <div class="col-lg-4 col-md-6 col-sm-12">
            <form  :action="work.route" method="get">
              <input type="hidden" name="caseID" :value="caseID">
              <!-- <input type="hidden" name="activityID" :value="theactivity._id"> -->
              <input type="hidden" name="status" value="5">
              <input type="hidden" name="statusreport" value="由方法建構區工作按鈕進入本頁">
              <input type="submit" :value="work.label" class="btn btn-info">
            </form>
  </div>
  </div>
      </nav>
      </template>

      <template id="outputerUI">

      </template>

  <!-- Vue CDN-->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
  <script>
  Vue.component("bander",{
      props:{},
      data(){
        return {
          brand:"dCarbon",
          previouspage:"回案件清單頁",
          setmethod:"建構認驗證方法作業區",
          outcomepage:"檢視認驗證方法建構結果",
          statusreport:'<%- statusreport %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          previousurl:"",
          outcomeurl:""
        }
      },
          mounted:function(){
            let basepath="/base4dcarbon/branch";
            this.previousurl=basepath+"/pwa4methodor/"+this.personID;
            let status5="?statusreport=由建構方法作業區入口進入本頁&status=5";
            let casequery="&caseID="+this.caseID;
            this.outcomeurl=basepath+"/methodor/outcome/"+this.personID+status5+casequery;
          },
      methods:{

      },
      template:"#banderUI"
    });
    Vue.component("inputer",{
      props:{},
      data(){
        return {


        }
      },

      methods:{

      },
      template:"#inputerUI"
    });
    Vue.component("outputer",{
      props:{},
      data(){
        return{
          statusreport:'<%- statusreport %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          thecase:JSON.parse(decodeURIComponent('<%=thecase%>')),
          theactivity:JSON.parse(decodeURIComponent('<%=theactivity%>')),
          items1:{
              item:"本減碳活動代碼",
              item0:"對應之產品代碼",
              item1:"活動類型",
              item2:"活動名稱",
              item3:"本活動描述",
              item99:"特別註記"
            },
            items2:{
              item:"本申請案代碼",
              item0:"申請人代碼",
              item1:"申請活動代碼",
              item2:"申請案場名稱",
              item3:"申請案場地址",
              item4:"申請案場中心點GPS",
              item5:"申請案規模計算單位",
              item6:"申請案規模數值",
              item7:"申請案查證人ID列舉",
              item8:"申請案是否通過",
              item9:"申請案獲得之碳權噸數",
              item99:"特別註記"
            },
          work2dos:[
            {"route":"/base4dcarbon/method/formula",
                "label":"編輯公評碳權數量計算公式"
                },
            {"route":"/base4dcarbon/dataneed/baselineitem",
            "label":"訂定所需提供之基線資料項目"
            },
            {"route":"/base4dcarbon/dataneed/newactitem",
            "label":"訂定所需提供之減碳活動資料項目"
            },
            {"route":"/base4dcarbon/dataneed/postitem",
            "label":"訂定認證後需續提供之減碳活動資料項目"
            },
            {"route":"/base4dcarbon/coefficient/parameteritem",
            "label":"訂定各計算碳權可能用到的參(係)數項目"
            },
            {"route":"/base4dcarbon/coefficient/available",
            "label":"檢查所需參(係)數是否已在資料庫"
            },
            {"route":"/base4dcarbon/datanned/notice",
            "label":"通知申請人需提供之資料項目"
            }
            ]
        }
      },
      mounted:function(){
        for(work of this.work2dos)
        work.route=work.route+'/'+this.personID
      },
      methods:{

      },
    template:"#outputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
