<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="/javascripts/jquery-3.4.1.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<style type="text/css">
body {
background-color: rgb(205, 226, 253);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.needcolor{
  color:rgb(72, 188, 5);
  font-size:large;
  font-weight:bold;
  }
caption{caption-side: top;}
.column1{background:lightblue}
.column2{background:rgb(246, 197, 128)}
.sameline{white-space: nowrap;}
.lefthand{font-size:x-large;font-weight:bold;display: inline;}
.operator{display: inline;font-size: xx-large;color: #f97300}
.varible{display: inline;}
.navbar{background:#cff8c5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
.page-item {
    margin-right:12px
}
.page-item[active=true]{
    font-weight: bold;
    text-decoration:underline
}
</style>

  <title>本案驗證報告稿</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
      <caseinfo></caseinfo>
        <decomposepart></decomposepart>
          <formulapart></formulapart>
          <signmean></signmean>
          <investigatepart></investigatepart>
    </div>

    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto"><li class="nav-item">
            <a class="nav-link  active" href="#">{{script}}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" :href="workspaceurl">{{workspacepage}}</a>
            </li>
          </ul>
          <span class="navbar-text">
            <font size="2">{{statusreport}}</font>
          </span>
        </div>
      </nav>
    </template>

<template id="caseinfoUI">
  <nav aria-label="...">
    驗證結論:<span class="needcolor">{{conclusion}}</span><br>
    預估共識碳權數量:<span class="needcolor">{{credit}}</span>噸<br>
    <div id="activity_info">

      {{items1.item}}:<span class="needcolor">{{theactivity._id}}</span><br>
      {{items1.item0}}:<span class="needcolor">{{theactivity.a05productID}}</span><br>
      {{items1.item1}}:<span class="needcolor">{{theactivity.a10type}}</span><br>
      {{items1.item2}}:<span class="needcolor">{{theactivity.a15nickname}}</span><br>
      {{items1.item3}}:<span class="needcolor">{{theactivity.a20describe}}</span><br>
    </div>
    <div id="case_info">
      {{items2.item0}}:<span class="needcolor">{{thecase.a05applicantID}}</span><br>
            {{items2.item2}}:<span class="needcolor">{{thecase.a15casename}}</span><br>
            {{items2.item3}}:<span class="needcolor">{{thecase.a20caseaddress}}</span><br>
            {{items2.item4}}:<span class="needcolor">{{thecase.a25caseGPS}}</span><br>
            {{items2.item5}}:<span class="needcolor">{{thecase.a30caseunit}}</span><br>
            {{items2.item6}}:<span class="needcolor">{{thecase.a35scale}}</span>
    </div>
  </nav>
  </template>
  <template id="decomposepartUI">
    <nav aria-label="...">
      <table border="1" class="table table-striped">
        <caption>減碳(或增匯)活動之細部活動及其與基線差異:</caption>
          <thead>
          <tr>
              <th>{{items3.item1}}</th>
              <th class="column1">{{items3.item2}}</th>
              <th class="column2">{{items3.item3}}</th>
            <!-- <th>特別註記</th> -->
          </tr>
          </thead>
          <tbody id="subactlist">
              <tr v-for="subact of subactlist" :key="subact._id">
              <td>{{subact.a15nickname}}</td>
              <td class="column1">{{subact.a20describe}}</td>
              <td class="column2">{{subact.a99footnote}}</td>
              </tr>
          </tbody>
          <br><br>

      </table>

          <table id="inputs" border="1" class="table table-striped">
            <caption>減碳(或增匯)活動使用生產資材之差異:</caption>
            <thead>
            <tr>
              <th>{{items4.item0}}</th>
              <th>{{items4.item1}}</th>
                <th class="column1">{{items4.item2}}</th>
                <th class="column2">{{items4.item3}}</th>
              <!-- <th>特別註記</th> -->
            </tr>
            </thead>
            <tbody id="inputlist">
              <!--  <tr v-for="inputx of inputlist" :key="inputx._id"> -->
                <tr v-for="inputx of inputlist">
                <td>{{inputx.a05subactID}}</td>
                <td>{{inputx.a15nickname}}</td>
                <td class="column1">{{inputx.a20describe}}</td>
                <td class="column2">{{inputx.a99footnote}}</td>
                </tr>
            </tbody>
        </table>
          <br>
    </nav>
  </template>
    <template id="formulapartUI">
        <nav aria-label="...">
          <table class="table table-striped">
            <caption>本案碳權計算公式:</caption>
              <thead>
              <tr>
                  <th>{{emissorname}}</th>
                  <th>{{blank}}</th>
                  <th>{{sign}}</th>
                  <th>{{equation}}</th>
                <!-- <th>特別註記</th> -->
              </tr>
              </thead>
              <tbody id="formulaitems">
                <tr>
                <td></td>
                <td></td>
                <td colspan="2"><div class="sameline"><div class="lefthand">{{CCCestimation}}</div><div class="operator">=</div></div></span></td>
                </tr>
                  <tr v-for="[index,emissorB] of emissorBs.entries()" :key="emissorB._id">
                  <td>({{emissorB.a15nickname}})</td>
                  <td></td>
                  <td><div class="operator">{{emissorB.a99footnote}}</div></td>
                  <td><div class="sameline"></div>
                    <h3><div class="varible">B{{index+1}}{{emissorB.a30emissorunit}}</div>
                    <div class="operator">*</div>
                    <div class="varible">Qb{{index+1}}{{caseunit}}</div>
                    <div class="operator">*</div>
                    <div class="varible">Cb{{index+1}}{{kg}}</div>
                    <div class="operator">/</div>
                    <div class="varible">{{emissorB.a35coeffunit}}</div></h3></div></td>
                  </tr>
                  <tr v-for="[index,emissorD] of emissorDs.entries()" :key="emissorD._id">
                    <td>({{emissorD.a15nickname}})</td>
                    <td></td>
                    <td><div class="operator">{{emissorD.a99footnote}}</div></td>
                    <td><div class="sameline">
                      <h3><div class="varible">D{{index+1}}{{emissorD.a30emissorunit}}</div>
                      <div class="operator">*</div>
                      <div class="varible">Qd{{index+1}}{{caseunit}}</div>
                      <div class="operator">*</div>
                      <div class="varible">Cd{{index+1}}{{kg}}</div>
                      <div class="operator">/</div>
                      <div class="varible">{{emissorD.a35coeffunit}}</div></h3></div></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
              </tbody>
          </table>
      </nav>
      </template>


        <template id="signmeanUI">
          <nav aria-label="...">
            <h3>符號說明:</h3><br>
            Bi:基線第i個具體排放源每單元用量;<br>
            Qbi:基線第i個具體排放源單元量;<br>
            Cbi:基線第i個具體排放源每單位排放係數;<br>
            <!-- Tbi:基線第i個排放量轉換為公噸的乘數;<br> -->
            Di:減碳(增匯)活動第i個具體排放源每單元用量;<br>
            Qdi:減碳(增匯)活動第i個具體排放源單元量;<br>
            Cdi:減碳(增匯)活動第i個具體排放源每單位排放係數;<br>
            <!-- Tdi:減碳(增匯)活動第i個具體排放源轉換為公噸的乘數-->
          <br><br>
        </nav>
        </template>

        <template id="investigatepartUI">
          <nav aria-label="...">
            <span class="needcolor">驗證過程:</span><br>
            <table border="1" class="table table-striped">
              <caption>基線需查驗之佐證資料</caption>
                <thead>
                <tr>
                    <th>{{items.item2}}</th>
                    <th>{{items.item4}}</th>
                    <th>{{items.item5}}</th>
                    <th>合格?</th>
                  <!-- <th>特別註記</th> -->
                </tr>
                </thead>
                <tbody id="baseline">
                    <tr v-for="datum of baselines" :key="datum._id">
                    <td>{{datum.a15timing}}</td>
                    <td>{{datum.a25describe}}</td>
                    <td>{{datum.a30check}}</td>
                    <!-- statusreport="由已擷取資料組清單頁進入本頁"> -->
                    <td>
                      <input type="checkbox">
                    </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table border="1" class="table table-striped">
              <caption>減碳(或增匯)活動需查驗之佐證資料</caption>
                <thead>
                <tr>
                    <th>{{items.item2}}</th>
                    <th>{{items.item4}}</th>
                    <th>{{items.item5}}</th>
                    <th>合格?</th>
                  <!-- <th>特別註記</th> -->
                </tr>
                </thead>
                <tbody id="newitem">
                    <tr v-for="datum of newitems" :key="datum._id">
                    <td>{{datum.a15timing}}</td>
                    <td>{{datum.a25describe}}</td>
                    <td>{{datum.a30check}}</td>
                    <!-- statusreport="由已擷取資料組清單頁進入本頁"> -->
                    <td>
                      <input type="checkbox">
                    </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table border="1" class="table table-striped">
              <caption>認證後需持續查驗之佐證資料</caption>
                <thead>
                <tr>
                    <th>{{items.item2}}</th>
                    <th>{{items.item4}}</th>
                    <th>{{items.item5}}</th>
                    <th>合格?</th>
                  <!-- <th>特別註記</th> -->
                </tr>
                </thead>
                <tbody id="postitem">
                    <tr v-for="datum of postitems" :key="datum._id">
                    <td>{{datum.a15timing}}</td>
                    <td>{{datum.a25describe}}</td>
                    <td>{{datum.a30check}}</td>
                    <!-- statusreport="由已擷取資料組清單頁進入本頁"> -->
                    <td>
                      <input type="checkbox">
                    </td>
                    </tr>
                </tbody>
            </table>
          </nav>
        </template>
  <!-- Vue CDN-->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
  <script>
  Vue.component("bander",{
      props:{},
      data(){
        return {
          brand:"dCarbon",
          workspacepage:"回方法建構作業區",
          workspaceurl:"",
          lastpageurl:"",
          script:"本案驗證報告稿",
          statusreport:'<%- statusreport %>',
          status:'<%- status %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>'
        }
      },
      mounted:function(){
        let basepath="/base4dcarbon";
        let querytext="?statusreport=由驗證報告稿回到本頁&status="+this.status+"&caseID"+this.caseID;
        this.workspaceurl=basepath+"/investigator/workspace/"+this.personID+querytext;
      },
      methods:{

      },
      template:"#banderUI"
    });
    Vue.component("caseinfo",{
      props:{},
      data(){
        return {
          thecase:JSON.parse(decodeURIComponent('<%=thecase%>')),
          theactivity:JSON.parse(decodeURIComponent('<%=theactivity%>')),
          conclusion:"尚未完成驗證查證",
          credit:0,
          items1:{
              item:"本減碳活動代碼",
              item0:"對應之產品代碼",
              item1:"活動類型",
              item2:"活動名稱",
              item3:"本活動描述",
              item99:"特別註記"
            },
            names1:{
              name0:"a05productID",
              name1:"a10type",
              name2:"a15nickname",
              name3:"a20describe"
            },
            items2:{
              item:"本申請案代碼",
              item0:"申請人代碼",
              item1:"申請活動代碼",
              item2:"申請案場名稱",
              item3:"申請案場地址",
              item4:"申請案場中心點GPS",
              item5:"申請案規模計算單位",
              item6:"申請案規模數值",
              item7:"申請案查證人ID列舉",
              item8:"申請案是否通過",
              item9:"申請案獲得之碳權噸數",
              item99:"特別註記"
            }
        }
      },

      methods:{

      },
      template:"#caseinfoUI"
    });
    Vue.component("decomposepart",{
      props:{},
      data(){
        return {
          statusreport:'<%- statusreport %>',
          status:'<%- status %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          subactlist:JSON.parse(decodeURIComponent('<%=subactlist%>')),
          inputlist:JSON.parse(decodeURIComponent('<%=inputlist%>')),
          termlist:JSON.parse(decodeURIComponent('<%=termlist%>')),
          thecase:JSON.parse(decodeURIComponent('<%=thecase%>')),
          theactivity:JSON.parse(decodeURIComponent('<%=theactivity%>')),
          nicknames1:[],
          nicknames2:[],
            items3:{
              item0:"對應之活動代碼",
              item1:"細部活動階段",
              item2:"基線細部活動描述",
              item3:"減碳細部活動描述",
              item4:"細部活動順序",
              item5:"活動分解士ID",
              item99:"特別註記"
                },
        items4:{
              item0:"對應之細部活動代碼",
              item1:"生產資材種類",
              item2:"基線生產資材描述",
              item3:"減碳活動之生產資材描述",
        }
        }
      },
      mounted:function(){
        for(term of this.termlist){
            if(term.a15model="subact"&&term.a20field=="a15nickname"){
                this.nicknames1.push(term)
            }
        }
        for(term of this.termlist){
            if(term.a15model="input"&&term.a20field=="a15nickname"){
                this.nicknames2.push(term)
            }
        }
        for(inputx of this.inputlist){
          let temp=this.nicknames2.find(obj=>obj.a25code==inputx.a15nickname);
          inputx.a15nickname=temp.a30mean;
        }
        for(subact of this.subactlist){
            if(subact.a10type=="baseline"){
              let temp=this.nicknames1.find(obj=>obj.a25code==subact.a15nickname)
              //console.log("a15nickname:"+subact.a15nickname);
              //console.log("temp.a30mean:"+temp.a30mean)
              subact.a15nickname=temp.a30mean;
              subact.a99footnote="(同左)";
              //console.log("a15nickname:"+subact.a15nickname);
              //console.log("a99footnote:"+subact.a99footnote)
              }else{
                let index1=this.subactlist.findIndex(obj=>obj.a10type=="baseline"&&obj.a25order==subact.a25order);
                this.subactlist[index1].a99footnote=subact.a20describe
                console.log("the "+index1+" subact.a99footnote:"+this.subactlist[index1].a99footnote)
              }
              }
                while(this.subactlist.findIndex(obj=>obj.a10type!="baseline")>=0){
                  let index2=this.subactlist.findIndex(obj=>obj.a10type!="baseline");
                  console.log("index2:"+index2);
                  this.subactlist.splice(index2,1)
                  console.log("length of subactlist: "+this.subactlist.length)
                 }
        this.subactlist.sort((a,b)=>{
            return parseFloat(a.a25order)-parseFloat(b.a25order)
        })
      },
      methods:{

      },
      template:"#decomposepartUI"
    });
    Vue.component("formulapart",{
      props:{},
      data(){
        return{
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          emissorlist:JSON.parse(decodeURIComponent('<%=emissorlist%>')),
          emissorBs:[],
          emissorDs:[],
          emissorname:"具體排放源名稱",
          blank:"    ",
          sign:"加減",
          equation:"計算式",
          CCCestimation:"共識碳權(CCC)估計值(公斤)",
          caseunit:"公頃",
          kg:"公斤碳排",
          progressurl:"",
            items3:{
              item0:"對應之活動代碼",
              item1:"細部活動階段",
              item2:"基線細部活動描述",
              item3:"減碳細部活動描述",
              item4:"細部活動順序",
              item5:"活動分解士ID",
              item99:"特別註記"
                },
              }
      },
      mounted:function(){
        for(emissor of this.emissorlist){
            if(emissor.a25emittype=="baseline"){
                emissor.a99footnote="+";
                this.emissorBs.push(emissor)
              }else{
                emissor.a99footnote="-";
                this.emissorDs.push(emissor)
              }
            }
            this.progressurl="/base4dcarbon/method/doneformula/"+this.personID
      },
      methods:{

      },
    template:"#formulapartUI"
  });
  Vue.component("signmean",{
    props:{},
      data(){
        return{

                }
      },
      mounted:function(){

      },
      methods:{


      },
    template:"#signmeanUI"
  });
  Vue.component("investigatepart",{
    props:{},
    data(){
      return{
        statusreport:'<%- statusreport %>',
          personID:'<%- personID %>',
          caseID:'<%- caseID %>',
          dataneedlist:JSON.parse(decodeURIComponent('<%= dataneedlist %>')),
          baselines:[],
          newitems:[],
          postitems:[],
          items:{
          item0:"細部活動代碼",
          item1:"資料需求階段",
          item2:"資料提供期限",
          item3:"所需資料名稱",
          item4:"所需資料描述",
          item5:"上傳次",
          item99:"特別註記"
            }
        }
      },
      mounted:function(){
        for(dataneedx of this.dataneedlist){
          if(dataneedx.a10datatype=="baseline"){
              this.baselines.push(dataneedx)
          }
        }
        for(dataneedx of this.dataneedlist){
          if(dataneedx.a10datatype=="evidence"){
              this.newitems.push(dataneedx)
          }
        }
        for(dataneedx of this.dataneedlist){
          if(dataneedx.a10datatype=="persist"){
              this.postitems.push(dataneedx)
          }
        }
        this.baselines.sort((a,b)=>{
            return a._id<b._id
        })
        this.newitems.sort((a,b)=>{
            return a._id<b._id
        })
        this.postitems.sort((a,b)=>{
            return a._id<b._id
        })
      },
      methods:{

      },
    template:"#investigatepartUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "formulapart":formulapart,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
