<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="/javascripts/jquery-3.4.1.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<style type="text/css">
body {
background-color: rgb(205, 226, 253);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.needcolor{
  color:rgb(72, 188, 5);
  font-size:large;
  font-weight:bold;
  }
caption{caption-side: top;}
.column1{background:lightblue}
.column2{background:rgb(246, 197, 128)}
.navbar{background:#cff8c5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
.page-item {
    margin-right:12px
}
.page-item[active=true]{
    font-weight: bold;
    text-decoration:underline
}
</style>

  <title>減碳活動之細部活動分解結果</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
        <outputer></outputer>
        <!-- <inputer></inputer> -->
    </div>

    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link  active" href="#">{{outcome}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :href="subactoperateurl">{{subactoperatepage}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :href="inputoperateurl">{{inputoperatepage}}</a>
              </li>
          </ul>
          <span class="navbar-text">
            <font size="2">{{statusreport}}</font>
          </span>
        </div>
      </nav>
    </template>

    <template id="outputerUI">
        <nav aria-label="...">
          <div id="activity_info">
            {{items1.item}}:<span class="needcolor">{{theactivity._id}}</span><br>

            {{items1.item0}}:<span class="needcolor">{{theactivity.a05productID}}</span><br>

            {{items1.item1}}:<span class="needcolor">{{theactivity.a10type}}</span><br>

            {{items1.item2}}:<span class="needcolor">{{theactivity.a15nickname}}</span><br>

            {{items1.item3}}:<span class="needcolor">{{theactivity.a20describe}}</span><br>

          </div>
          <div id="case_info">
            {{items2.item0}}:<span class="needcolor">{{thecase.a05applicantID}}</span><br>

            {{items2.item2}}:<span class="needcolor">{{thecase.a15casename}}</span><br>

            {{items2.item3}}:<span class="needcolor">{{thecase.a20caseaddress}}</span><br>

            {{items2.item4}}:<span class="needcolor">{{thecase.a25caseGPS}}</span><br>

            {{items2.item5}}:<span class="needcolor">{{thecase.a30caseunit}}</span><br>

            {{items2.item6}}:<span class="needcolor">{{thecase.a35scale}}</span>

          <!--
            <label for="formGroupExampleInput2">{{items2.item7}}:</label>
            <input type="text" :name="names.name7" class="form-control" id="formGroupExampleInput7" :value="case.a40loyalistID">

            <label for="formGroupExampleInput2">{{items2.item8}}</label>
            <input type="text" :name="names.name8" class="form-control" id="formGroupExampleInput8" :value="case.a45progressID">

            <label for="formGroupExampleInput2">{{items2.item9}}</label>
            <input type="text" :name="names.name9" class="form-control" id="formGroupExampleInput9" :value="case.a50updatetime>
            -->
          </div>
<br>
          <a href="#inputs" style="position:right">檢視使用之生產資材差異</a>
<br>

        <table border="1" class="table table-striped">
          <caption>減碳(或增匯)活動之細部活動及其與基線差異:</caption>
            <thead>
            <tr>
                <th>{{items3.item1}}</th>
                <th class="column1">{{items3.item2}}</th>
                <th class="column2">{{items3.item3}}</th>
              <!-- <th>特別註記</th> -->
            </tr>
            </thead>
            <tbody id="subactlist">
                <tr v-for="subact of subactlist" :key="subact._id">
                <td>{{subact.a15nickname}}</td>
                <td class="column1">{{subact.a20describe}}</td>
                <td class="column2">{{subact.a99footnote}}</td>
                </tr>
            </tbody>
            <br><br>

        </table>

            <table id="inputs" border="1" class="table table-striped">
              <caption>減碳(或增匯)活動使用生產資材之差異:</caption>
              <thead>
              <tr>
                <th>{{items4.item0}}</th>
                <th>{{items4.item1}}</th>
                  <th class="column1">{{items4.item2}}</th>
                  <th class="column2">{{items4.item3}}</th>
                <!-- <th>特別註記</th> -->
              </tr>
              </thead>
              <tbody id="inputlist">
                <!--  <tr v-for="inputx of inputlist" :key="inputx._id"> -->
                  <tr v-for="inputx of inputlist">
                  <td>{{inputx.a05subactID}}</td>
                  <td>{{inputx.a15nickname}}</td>
                  <td class="column1">{{inputx.a20describe}}</td>
                  <td class="column2">{{inputx.a99footnote}}</td>
                  </tr>
              </tbody>
          </table>
            <br>
            <form  :action="pass2methodorurl" method="get">
              <input type="hidden" name="status" value="4">
              <input type="hidden" name="statusreport" value="活動分解確認送去建構方法">
              <input type="hidden" name="caseID" :value="caseID">
              <input type="submit" value="確認分解結果" class="btn btn-info">
            </form>
      </nav>
      </template>

      <template id="outputerUI">

      </template>

  <!-- Vue CDN-->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
  <script>
  Vue.component("bander",{
      props:{},
      data(){
        return {
          brand:"dCarbon",
          outcome:"活動分解結果",
          subactoperatepage:"回活動分解作業區",
          inputoperatepage:"回生產資材管理作業區",
          statusreport:'<%- statusreport %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          subactID:"",
          subactoperateurl:"",
          inputoperateurl:""
        }
      },
          mounted:function(){
            let status1="?statusreport=活動分解結果頁回到本頁&status=1";
            let casequery="&caseID="+this.caseID;
            let subactquery="&caseID="+this.caseID+"&subactID="+this.subactID;
            subactoperateurl='/base4dcarbon/branch/decomposer/operate/'+this.personID+status1+casequery;
            //inputoperateurl='/base4dcarbon/input/operate/'+this.personID+status1+subactquery;
          },
      methods:{

      },
      template:"#banderUI"
    });
    Vue.component("inputer",{
      props:{},
      data(){
        return {


        }
      },

      methods:{

      },
      template:"#inputerUI"
    });
    Vue.component("outputer",{
      props:{},
      data(){
        return{
          perPage:8,
          perRound:10,
          maxRow:1,
          maxPage:1,
          maxRound:1,
          modRow:1,
          modPage:1,
          currentIndex:0,
          currentPage:1,
          currentRound:1,
          indexLength:1,
          previousRound:false,
          firstPage:false,
          nextRound:false,
          endPage:false,
          fullPage:false,
          pageIndex:[],
          showIndex:[],
          activeIndex:[],
          subactShow:[],
          inputoneurl:"",
          inputbatchurl:"",
          statusreport:'<%- statusreport %>',
          status:'<%- status %>',
          caseID:'<%- caseID %>',
          personID:'<%- personID %>',
          subactlist:JSON.parse(decodeURIComponent('<%=subactlist%>')),
          inputlist:JSON.parse(decodeURIComponent('<%=inputlist%>')),
          termlist:JSON.parse(decodeURIComponent('<%=termlist%>')),
          thecase:JSON.parse(decodeURIComponent('<%=thecase%>')),
          theactivity:JSON.parse(decodeURIComponent('<%=theactivity%>')),
          nicknames1:[],
          nicknames2:[],
          pass2methodorurl:"",
          items1:{
              item:"本減碳活動代碼",
              item0:"對應之產品代碼",
              item1:"活動類型",
              item2:"活動名稱",
              item3:"本活動描述",
              item99:"特別註記"
            },
            names1:{
              name0:"a05productID",
              name1:"a10type",
              name2:"a15nickname",
              name3:"a20describe"
            },
            items2:{
              item:"本申請案代碼",
              item0:"申請人代碼",
              item1:"申請活動代碼",
              item2:"申請案場名稱",
              item3:"申請案場地址",
              item4:"申請案場中心點GPS",
              item5:"申請案規模計算單位",
              item6:"申請案規模數值",
              item7:"申請案查證人ID列舉",
              item8:"申請案是否通過",
              item9:"申請案獲得之碳權噸數",
              item99:"特別註記"
            },
            names2:{
              name0:"a05applicantID",
              name1:"a10activityID",
              name2:"a15casename",
              name3:"a20caseaddress",
              name4:"a25caseGPS",
              name5:"a30caseunit",
              name6:"a35scale",
              name7:"a40loyalistID",
              name8:"a55pass",
              name9:"a60right"
            },
            items3:{
              item0:"對應之活動代碼",
              item1:"細部活動階段",
              item2:"基線細部活動描述",
              item3:"減碳細部活動描述",
              item4:"細部活動順序",
              item5:"活動分解士ID",
              item99:"特別註記"
                },
        items4:{
              item0:"對應之細部活動代碼",
              item1:"生產資材種類",
              item2:"基線生產資材描述",
              item3:"減碳活動之生產資材描述",
}
        }
      },
      mounted:function(){
        for(term of this.termlist){
            if(term.a15model="subact"&&term.a20field=="a15nickname"){
                this.nicknames1.push(term)
            }
        }
        for(term of this.termlist){
            if(term.a15model="input"&&term.a20field=="a15nickname"){
                this.nicknames2.push(term)
            }
        }
        for(inputx of this.inputlist){
          let temp=this.nicknames2.find(obj=>obj.a25code==inputx.a15nickname);
          inputx.a15nickname=temp.a30mean;
        }
        for(subact of this.subactlist){
            if(subact.a10type=="baseline"){
              let temp=this.nicknames1.find(obj=>obj.a25code==subact.a15nickname)
              //console.log("a15nickname:"+subact.a15nickname);
              //console.log("temp.a30mean:"+temp.a30mean)
              subact.a15nickname=temp.a30mean;
              subact.a99footnote="(同左)";
              //console.log("a15nickname:"+subact.a15nickname);
              //console.log("a99footnote:"+subact.a99footnote)
              }else{
                let index1=this.subactlist.findIndex(obj=>obj.a10type=="baseline"&&obj.a25order==subact.a25order);
                this.subactlist[index1].a99footnote=subact.a20describe
                console.log("the "+index1+" subact.a99footnote:"+this.subactlist[index1].a99footnote)
              }
              }
                while(this.subactlist.findIndex(obj=>obj.a10type!="baseline")>=0){
                  let index2=this.subactlist.findIndex(obj=>obj.a10type!="baseline");
                  console.log("index2:"+index2);
                  this.subactlist.splice(index2,1)
                  console.log("length of subactlist: "+this.subactlist.length)
                 }
        this.subactlist.sort((a,b)=>{
            return parseFloat(a.a25order)-parseFloat(b.a25order)
        })
        let querytext="?statusreport=活動分解確認送去建構方法&status=4&caseID="+this.caseID;
        //this.pass2methodorurl="/base4dcarbon/branch/pass2methodor/"+this.personID+querytext;
        this.pass2methodorurl="/base4dcarbon/branch/pass2methodor/"+this.personID;
      },
      methods:{

      },
    template:"#outputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
